@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', 'sans-serif'
}

p {
	line-height: 2em;
	text-align: justify;
}

.navbar-toggler {
	border: 0px;
}

.bg-gray, .jumbotron {
	background-image: url('../images/banner-bg.png');
	background-color: #3d3d3d;
	color: #fff;
}

.bg-primary, .btn-primary {
	background-color: rgba(0, 187, 128, 128) !important;
	border-color: rgba(0, 187, 128, 128) !important;
}

.bg-gray1 {
	background-color: #2E4053;
	color: #fff;
}

.bg-gray2 {
	background-color: #2d2d2d;
	color: #fff;
}